---
import Layout from "../layouts/Layout.astro";
import Modal from "../components/modal.astro";
import "../styles/global.css";
---

<Layout title="Home">
  <header>
    <div class="flex justify-between">
      <img class="size-19" src="/ipn.png" alt="" />
      <img class="size-19" src="/upiicsa.png" alt="" />
    </div>
  </header>
  <main>
    <section class="grid grid-cols-2 gap-4">
      <div class="border-2 border-black size-96 rounded-xl">
        <button
          type="button"
          class="bg-green-400 p-2 border-2 border-black rounded-full cursor-pointer"
          >i</button
        >
      </div>

      <div class="border-2 border-black size-96 rounded-xl"></div>
      <div class="border-2 border-black size-96 rounded-xl"></div>

      <div class="border-2 border-black size-96 rounded-xl">
        <button id="open">i</button>
        <dialog id="dialog" closedby="any">
          <h2></h2>
          <p></p>
          <form method="dialog">
            <button>cerrar</button>
          </form>
        </dialog>
      </div>
    </section>
  </main>
  <footer>
    <div></div>
    <p class="flex justify-center">Todos los derechos reservados</p>
  </footer>
</Layout>
